html {
  background-color: rgb(249, 246, 243);
}
.navigationTop.hidden {
  display: none;
}

.navigationTop {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 28px;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.newSpot {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  background-color: rgb(228, 136, 44);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.newSpotNav {
  display: inline-flex;
}
.logoLink {
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(231, 124, 42);
  padding-top: 8px;
  height: 20px;
}

.menu {
  display: inline-flex;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background-color: rgb(228, 136, 44);
}

.fa-solid.fa-bars {
  padding-right: 5px
}

.fa-airbnb{
  height: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
